/* || General styles */

html {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section__content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

/* || homepage */

.section__content--icon {
    display: flex;
    justify-content: center;
    align-items: center;
}


.section__content--icon span {
    display: block;
}

.header--firstSpan {
    font-weight: 500;
    font-size: 23px;
    color: #343D33;
    line-height: 27px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

.header--secondSpan {
    font-weight: 400;
    font-style: italic;
    size: 15px;
    line-height: 17.58px;
    letter-spacing: 0.01em;
    color: #333333;
}

.header__section--content {
    padding: 14px;
}

/* || nav styles */

.header__section {
    align-items: center;
}

.hero__menu--list {
    color: #414840;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.hero__menu--listMembership {
    display: flex;
    align-items: center;
    align-content: center;
    border: 2px solid #475F45;
    padding: 15px 30px;
}

.hero__menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-weight: 700;
    font-size: 14px;
    color: #414840;
}

.nav__section {
    margin: 14px;
}

/* || bellow header section class */

.bellow--header div h1 span{
    display: block;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 110%;
    text-transform: capitalize;
}

.bellow--header div h1 {
    margin-bottom: 16px;
}

.bellow--header {
    margin-top: 240px;
}

.bellow--header div span {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}

.bellow--header-button1 {
    margin-top: 16px;
    background: #475F45;
    padding: 20px 40px 20px 40px;
    margin-right: 10px;
    color: #FFFFFF;
}

.bellow--header-button {
    border: 2px solid #475F45;
    padding: 20px 40px 20px 40px;
    background: #FFFFFF;
}

.bellow--header-img {
    margin-top: 65px;
    margin-right: 120px;
}
